@font-face {
  font-family: "Neka Laurent";
  src: url("fonts/neka-laurent.ttf") format("truetype");
}
@font-face {
  font-family: "Louis Gourge";
  src: url("fonts/louis-gourge.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; /* warna gelap untuk background header */
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 70px;
  background-color: #222;
}

.logo {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: white;
  font-weight: bold;
}

.container {
  padding: 20px;
  text-align: center;
}

.container h1 {
  font-family: "Neka Laurent", sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
}

.container h2 {
  font-family: "Neka Laurent", sans-serif;
  font-size: 28px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.container p {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Louis Gourge", serif;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.5; 
}

.container h3 {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Louis Gourge", serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  display: flex;
  text-align: left;
}
.container img {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  box-shadow: 1px 1px 5px grey;
}

footer {
  background-color: #222;
  color: #ccc; /* warna font abu-abu terang */
  text-align: center;
  padding: 30px;
  font-size: 16px;
  user-select: none;
}
